body{
font-family: Verdana;
}
a{
text-decoration: none;
color:#006699;
}
form{
margin: 10px 0;
}
h1 {
margin:0 0 6px;
padding:9px 0 3px 6px;
}
h2{
color:#333333;
margin:0;
}
h3{
color:#666666;
margin:0;
display: inline;
border-bottom:1px dashed;
}
select{
width:172px;
}
.msg{
width: 450px;
border: 2px solid;
margin: 5px;
font-weight:bold;
padding: 2px;
}
.good-msg{
border-color:lime;
color:green;
background: #F9FFF9;
}
.bad-msg{
border-color:#BF0000;
color:#BF0000;
background: #fff9f9;
}

#side{
float: right;
width: 200px;
clear: right;
}

#application{
margin-left:10px;
}

#footer{
margin-top:10px;
height:20px;
clear: both;
}

#side ul{
list-style-type: none;
margin: 10px 0;
padding: 0;
}
.basic-table{
width:80%;
border-collapse:collapse;
}
.basic-table td{
border: 1px solid black;
padding: 4px;
}
.basic-list{
margin: 10px 0;
padding: 0;
}
.basic-list-label{
color: #333333;
font-weight: bold;
margin-right: 10px;
}
.basic-list-item form{
margin: 0;
}