<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
    <head>
        <title>Ape Planet</title>
    <link rel="Stylesheet" href="css/main_styles.css" type="text/css" />
    </head>
    <body>
    	<img src="img/spaceballs.gif" alt="" style="float:right;width:260px;" />
        <h1 class="page_name">Planet of Apes</h1>
        <div id ="side">
			<h3>Lists</h3>
            <ul>
                <li><a href="index.php?action=get&controller=CompanyList">Companies</a></li>
                <li><a href="index.php?action=get&controller=ProjectList">Projects</a></li>
                <li><a href="index.php?action=get&controller=SupportContractList">Support Contracts</a></li>
                <li><a href="index.php?action=get&controller=PaymentList">Payments</a></li>
                <li><a href="index.php?action=get&controller=InvoiceList">Invoices</a></li>
                <li><a href="index.php?action=get&controller=StaffList">Staff</a></li>
                <li><a href="index.php?action=get&controller=ContactList">Contacts</a></li>
            </ul>   
			<h3>Reports</h3>
            <ul>
                <li><a href="index.php?action=get&controller=HoursByEstimate">Hours By Estimate</a></li>
            </ul>   

        </div>  
        <div id ="msg-container" align="center">
        	[[msg]]
        </div>             
        <div id="application">
            [[main-application]]
        </div>
        <div id="footer"></div>
    </body>
</html>

