<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
    <head>
        <title>Getting Things Done</title>
    <link rel="Stylesheet" href="css/main_styles.css" type="text/css" />
    </head>
    <body>
        <h1>GTD</h1>
        <div id ="side">
            <ul><h3>Lists</h3>
                <li><a href="index.php?action=get&controller=CompanyList">Company</a></li>
                <li><a href="index.php?action=get&controller=ProjectList">Project</a></li>
                <li><a href="index.php?action=get&controller=SupportContractList">Support Contract</a></li>
                <li><a href="index.php?action=get&controller=PaymentList">Payments</a></li>
                <li><a href="index.php?action=get&controller=InvoiceList">Invoices</a></li>
                <li><a href="index.php?action=get&controller=StaffList">Staff</a></li>

            </ul>   
            <ul><h3>Reports</h3>
                <li><a href="index.php?action=get&controller=HoursByEstimate">Hours By Estimate</a></li>
            </ul>   
        </div>     
        <div id="application">
            [[main-application]]
        </div>
        <div id="footer"></div>
    </body>
</html>

