html{
background-color: #ffffff; /* Old browsers */
}
body{
margin:0;
background: -moz-linear-gradient(top,  #efefef 1%, #ffffff 97%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#efefef), color-stop(97%,#ffffff)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #efefef 1%,#ffffff 97%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #efefef 1%,#ffffff 97%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #efefef 1%,#ffffff 97%); /* IE10+ */
background: linear-gradient(top,  #efefef 1%,#ffffff 97%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#efefef', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}
table{
  max-width: 95%;
}
#header{
background: #000000;
}
#title-bar{
  background: #990000;
  background-image: -ms-linear-gradient(top, #990000, #440000);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#990000), to(#440000));
  background-image: -webkit-linear-gradient(top, #990000, #440000);
  background-image: -o-linear-gradient(top, #990000, #440000);
  background-image: linear-gradient(top, #990000, #440000);
  background-image: -moz-linear-gradient(top, #990000, #440000);
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
  border-bottom: 1px solid #bbbbbb;
}
#title-bar h1 {
  padding: 10px 0 4px;
  float:left;
}
#title-bar.test-warning{
  background: #0092C3;
  background-image: -ms-linear-gradient(top, #0092C3, #aed0ea);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#aed0ea), to(#0092C3));
  background-image: -webkit-linear-gradient(top, #0092C3, #aed0ea);
  background-image: -o-linear-gradient(top, #0092C3, #aed0ea);
  background-image: linear-gradient(top, #0092C3, #aed0ea);
  background-image: -moz-linear-gradient(top, #0092C3, #aed0ea);
}
#app-container{
}
#client-app-container {
background-color:#fefaea;
}
a{
text-decoration: none;
}
form{
margin: 0;
}
tbody{
}
h1 {
color:#ffffff;
display:block;
margin:0 0 0 170px;
padding:0 5px;
font-size:22px;
}
h2{
margin:0 0;
font-size:16px;
}
h3{
border:0px solid #999999;
border-bottom: none;
color:#000;
font-size:18px;
margin:10px;
//padding:0 5px 8px 0;
position:relative;
top:1px;
}
h4{
color:#005588;
font-size:14px;
margin:0 0 0;
padding:0 0 2px;
text-decoration:none;
}
.clear-left{ clear: left;}
.clear-right{ clear: right;}
.clear-both{ clear: both;}

a.button{
-moz-border-bottom-colors: none;
-moz-border-image: none;
-moz-border-left-colors: none;
-moz-border-right-colors: none;
-moz-border-top-colors: none;
-moz-transition: all 0.1s linear 0s;
background-color: #E6E6E6;
background-image: -moz-linear-gradient(center top , #FFFFFF, #FFFFFF 25%, #E6E6E6);
background-repeat: no-repeat;
border-color: #CCCCCC #CCCCCC #BBBBBB;
border-radius: 4px 4px 4px 4px;
border-style: solid;
border-width: 1px;
box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
color: #333333;
cursor: pointer;
display: inline-block;
font-size: 13px;
line-height: normal;
padding: 5px 14px 6px;
text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
}
a.button:hover {
background-position: 0 -15px;
text-decoration: none;
}
a.little-button{
cursor:pointer;
}

.msg{
width: 450px;
border: 2px solid;
margin: 5px;
font-weight:bold;
padding: 2px;
}
.good-msg{
border-color:lime;
color:green;
background: #F9FFF9;
}
.bad-msg{
border-color:#BF0000;
color:#BF0000;
background: #fff9f9;
}
.float-right{
float:right;
}
.float-left{
float:left;
margin-right:20px;
}
.clear-left{
clear:left;
overflow:hidden;
}
#content-controls{
display:none;
position:absolute;
right:18%;
top: 30px;
}
#logo{
height:63px;
position:absolute;
right:11px;
top:2px;
}
#side{
position: absolute;
margin-left:20px;
margin-right:0;
margin-top:1em;
width:230px;
}
#client_quicksearch{
  border: 1px solid #CCCCCC;
  border-radius: 3px 3px 3px 3px;
  padding: 4px;
  width: 170px;
}
h4.sidebar-button{
z-index: 1500;
position: relative;
-moz-border-bottom-colors: none;
-moz-border-image: none;
-moz-border-left-colors: none;
-moz-border-right-colors: none;
-moz-border-top-colors: none;
-moz-transition: all 0.1s linear 0s;
border-radius: 4px 4px 4px 4px;
border-style: solid;
border-width: 1px;
box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
color: #333333;
cursor: pointer;
display: inline-block;
font-size: 13px;
line-height: normal;
padding: 5px 14px 6px;
text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
background-color: #0064CD;
background-image: -moz-linear-gradient(center top , #049CDB, #0064CD);
background-repeat: repeat-x;
border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
color: #FFFFFF;
text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);  
width: 140px;
margin: 5px 0;
}
.sidebar-nav {
padding: 9px 0;
}
h4.sidebar-button:hover {
background-position: 0 -15px;
text-decoration: none;
}

#side .flyout{
position: relative;
}

#side .flyout-menu{
display:none;
position:absolute;
left: 80px;
top:5px;
min-width:200px;
z-index: 2000;
list-style-type: none;
padding: 0;
margin: 0;
-moz-box-shadow:0 2px 3px #333;
background-color:#0064CD;
}

#side .flyout-menu li{
padding: 6px;
}

#side .flyout-menu a{
color: #FFFFFF;
font-size: 18px;
text-shadow: 0 0 4px #000000;
}

#side .flyout-menu li:hover{
background: #ffffff;
}

#side .flyout-menu li:hover a{
color: #0064CD;
text-shadow: none;
}

#screen-cover{
background: transparent;
width: 100%;
height: 100%;
position: fixed;
top: 0;
z-index: 1000;
display: none;
}

#application{
margin-left:265px;
margin-top: 10px;
margin-right:20px;
}
#footer{
margin-top:10px;
height:20px;
clear: both;
}
.standard-view-container{
}
#scroll-wheel-corrector{
height:135%;
position:absolute;
top:0;
width:1px;
}
.empty-table-message{
clear:left;
margin: 5px 0;
}
.basic-table-container{
margin: 10px 0 10px 0;
}
.basic-table{
border-collapse:collapse;
border: 1px solid #999999;
width: 100%;
}
.basic-table th{
font-size:12px;
font-weight:bold;
}
.basic-table td{
padding: 4px;
max-width:250px;
}
.basic-table a{
color:#004488;
}
.basic-list{
margin: 0;
padding: 0 10px;
}
.basic-list-item{
clear: left;
}
.detail-list{
-moz-box-shadow: 0px 0px 4px rgba(66, 140, 240, 1);
background: #daf1ff;
-moz-border-radius-topleft:6px;
-moz-border-radius-topright:6px;
-moz-border-radius-bottomleft:6px;
-moz-border-radius-bottomright:6px;
border:0px solid #666666;
margin:15px 0;
padding:5px;
//width:420px;
}
.detail-project-hours span {
display: inline-block;
width: 175px;
font-size: 11px;
padding: 0 15px 0 0 ;
}
      .bar {
        border:1px solid black;
        background:#fff;
        width:500px;
        -moz-border-radius:5px 5px;
        -webkit-border-radius:5px 5px;
        overflow:hidden;
	margin:10px auto;
      }
	
      
      .filling {
        background:#88B1E2;
        padding:2px;
        text-align: center;
      }
.overbudget {
background:#aa4643 !important;
color: #ffffff;
}
.basic-cell{
display:inline-block;
margin-bottom:2px;
vertical-align:top;
}
.basic-list-label{
color:#333333;
display:block;
float:left;
font-size:14px;
font-weight:bold;
width:156px;
}
.basic-list-item form{
margin: 0;
}
.basic-form-contents .submit_btn{
margin-left: 20px;
}
div.inline{
width:100%;
}
.inline .basic-list{
-moz-border-radius-topright:0px;
-moz-border-radius-bottomleft:6px;
-moz-border-radius-bottomright:6px;
border:0px solid #666666;
margin:0;
padding:10px;
width: auto;
}
.inline div.basic-list-item{
background:#DDEEFF none repeat scroll 0 0;
border:1px solid #99BBFF;
float:left;
margin:2px;
height:23px;
min-width:280px;
padding:4px;
width:22%;
}
.inline input{
width: 50%;
float: right;
}
.inline select{
width: 52%;
float: right;
}
.inline .basic-list-label{
font-size: 10px;
}
.inline .label-cell{
display: block;
width: 45%;
float: left;
}
.inline .data-cell{
}
/* COMPANY INFO */
.company-balance{
font-weight:bold;
font-size: 12px;
}
.address{
margin: 7px 16px 5px 0;
width:270px;
font-size: 14px;
}
.notes-box{
float:left;
margin:4px 20px 4px 10px;
}
.notes-label{
float:left;
margin-right:16px;
font-weight:bold;
}
.notes-content{
background-color:#FFFFFF;
float:left;
font-size: 12px;
padding: 2px 5px 6px;
width:650px;
-moz-border-radius-topleft:6px;
-moz-border-radius-topright:6px;
-moz-border-radius-bottomleft:6px;
-moz-border-radius-bottomright:6px;
}
.company-info-header{
float:left;
margin-left:5px;
}
.company-info{
float:left;
width:300px;
}
.billing-alert {
  color:red;
  font-weight: bold;
}
/* FORMS */
h3.basic-form-header{
margin-left: -20px;
position: relative;
  /*background: none;
font-size: 14px;
margin: 10px 0 0 5px;
color: #005588;
*/
}
.basic-form-contents{
margin-left: 20px;
}
.submit-container{
margin-bottom:20px;
margin-left:30px;
margin-top: 10px;
}
select {
  width:172px;
}
/* BUTTONS */
.standard-btn{
border: 1px solid #999999;
-moz-border-radius:11px;
display:inline-block;
background: #ffffff;
padding:2px 6px;
}
.deter-btn{
font-size: 9px;
color:#990000;
}
/* MESSAGES */
div.basic-message{
//margin-top:10px;
display:block;
}

/* QUICKSEARCH */
.qs_input{
font-size:8px;
margin-bottom:4px;
}
#estimate-print td {
border-bottom: 1px #dddddd solid;
}
.quicksearch{ 
display: inline-block;
margin-bottom: 5px;
}
.basic-table-search{ 
display: inline-block;
margin-bottom: 6px;
width: 100%;
}
.search-input { 
display: inline;
margin-left: 10px; 
float: left;
}
.search-input label { 
margin-right: 4px; 
display: inline;
}
input[type="text"] {
margin-right: 10px;
}
/* JS-SWAPPABLE */
.js-swappable{
width:	100%;
}
.js-swappable-btn{ 
display:block;
float:right;
font-size:12px;
}
/* JS-HIDEABLE */
.js-hideable{
float:left;
margin-top:5px;
}
.hideable-item{
margin-top:5px;
}
.hideable-block{
float: left;
margin-right: 5px;
}
/* JS-MULTIPLE-BUTTONS */
.js-multiple-buttons {
clear:left;
width:60em;
}
/* LOGIN FORM */
#login-container{
background:none repeat scroll 0 0 #FFFFFF;
margin:20px auto;
padding-left:20px;
width:200px;
}
#login-container h2{
margin:0;
padding:4px;
color: #000000;
}
/*LOGIN WIDGET */
#login-widget{
float:left;
font-size:12px;
font-weight:bold;
margin:4px 21px 0;
color: #ffffff;
}
#login-widget a{
color: #ffffff;
}
/* PROJECT INFO */
.launch-date{
margin-right: 10px;
}
.status{
color: #aa4643;
float: left;
width: 200px
font-variant:small-caps;
font-weight:bold;
text-transform:capitalize;
margin-right:10px;
margin-left:2px;

}
.status-label {
float: left;
}
.notes-field{
width:400px;
height:200px;
}
.project-manager{
font-weight: bold;
}
/* HOUR FORMS*/
#hour-edit-container{
float: left;
}
input.description-field{
width: 300px;
}
/* SUPPORT CONRACT */
#correct-mistake-contract-btn{
margin-left:10px;
}
#update-contract-btn{
float:right;
margin-bottom:5px;
display: none;
}
#cancel-contract-btn{
float:right;
display: none;
clear:right;
}
/* TOTALS */
.totals-data{
clear:left;
}
/* CONTACTS */
.company-contacts{
float:left;
margin-left: 6px;
margin-top: 6px;
font-size: 12px;
}
.company-contacts .contact-detail{
float: left;
width: 250px;
margin: 0 15px;
margin-bottom:8px;
}
.contact-detail h4 {
font-size: 12px;
}
/* INVOICE */
#invoice {
display: block;
width: 880px;
margin-right: auto;
margin-left: auto;
}
#invoice #header {
height: 85px;
}
#invoice #header h1 {
color: #FFFFFF;
font-size: 30px;
text-align: right;
padding: 20px 60px 0 0;
}
#invoice #header img {
float: left;
}

#invoice h2{
font-size: 20px;
}

#invoice-footer{
font-size: 12px;
margin-bottom: 10px;
}

#invoice #footer-address{
margin-bottom: 20px;
}
#banner {
margin: 15px 0 0 0;
}
#banner .basic-list-item {
text-align: right;
}

#all-inv{
color:#FFFFFF;
display:block;
font-size:13px;
margin-right:61px;
text-align:right;
}

#details{
font-size: 14px;
padding: 5px 10px;
}
#invoice-summary .basic-list-label {
width: 228px;
}
.hours-month, .hours-week {
//margin: 0 10px 10px 10px;
margin: 0 10px;
float: left;
width: 46%;
}
span.unbillable {
color: #aa4643; 
}
span.billable {
color: #4572a7;
}
.detail {
font-size: 10px;
}
h1#title {
padding-bottom: 10px;
display: inline;
}
#rd-graph_control span, #rd-graph_navigate span{
cursor: pointer;
font-size: 13px;
padding-right: 10px;
margin-right: 3px;
}
#rd-graph_navigate{
float: right;
}
/* BOOKMARKS */
legend {
margin-bottom: 0px;
}
#bookmark-link {
float: right;
margin: 8px 0px;
}
#bookmark-link img{
height:40px;
}
#bookmark-list a:hover{
text-decoration: none;
}
#bookmark-form-box{
background: url('/client/img/bookmark_form_bg.png') 0 0 no-repeat;
position: absolute;
right: 30px;
top: 55px;
width: 326px;
height: 43px;
padding-top:40px;
z-index: 20;
}
#bookmark-form-box .basic-list-label {
color: #ddd;
width: 100px;
}

#bookmark-form-box .btn {
margin-top: -10px;
position: relative;
}

#bookmark-form-box input.description-field{
width: auto;
}
#bookmark-form{
margin: 5px 0 0 30px;
}
#bookmark-close{
left: 15px;
position: absolute;
top: 40px;
}

#bookmark-list{
margin: 0px;
padding: 0px;
}
#bookmark-list li{
    list-style-type: none;
    margin: 0;
    padding: 4px;
}

#bookmark-list li:hover{
  background-color: #dedede;
}

#bookmark-list a{
font-size:12px;
border: none;
background: none;
display: block;
}
.destroy-bookmark-container {
float:right;
}
#bookmark-list .destroy-bookmark-container .button {
width: 10px;
}
#bookmark-list .destroy-bookmark-container a.button {
padding: 2px 8px 2px 4px;
}
#side .btn-group, #side .btn-group + .btn-group {
  margin: 5px 0px;
}
#side .btn {
  display: inline;
  width: 170px;
  text-align: left;
}
.caret {
  float: right;
}
.clear {
clear: both;
}
.santa-quote{
  color:#ffffff;
  display:inline-block;
  font-size: 14px;
  position: relative;
  top: 4px;
}
#santa-slide{
  display:inline;
}
#santa-slide a{
  color:#ffffff;
}
#rd-graph text, #rd-graph tspan, #rd-graph tref {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
}
.dropdown-menu {
  margin: 1px -1px 0px;
  min-width: 170px;
}
.dropdown-menu li > a:hover,
.dropdown-menu .active > a,
.dropdown-menu .active > a:hover {
    color: #ffffff;
    text-decoration: none;
    background-color: #0088cc;
}
.table.tablesorter a.btn.ui-state-default.ui-corner-all {
  margin: 5px 7px;
}
