body{
font-family: Verdana;
margin:0;
background-color:#FFF6E4;
}
#header{
background: #000000;
}
#title-bar{
background: #0092C3;
padding: 
}
#app-container{
margin:0 auto;
background-color:#FFF6E4;
background-position: left top;
background-repeat: repeat-x;
background-image: url('/client/img/gtd_bg.jpg');
//width:912px;
}
a{
text-decoration: none;
color:#006699;
}
form{
margin: 0;
}
tbody{
}
h1 {
color:#FFF6E4;
display:block;
margin:0 0 0 170px;
padding:0 5px;
font-size:22px;
}
h2{
margin:0;
font-size:14px;
display:inline;
}
h3{
border:0px solid #999999;
border-bottom: none;
color:#000;
display:inline;
font-size:16px;
margin:0;
padding:0 5px 0 0;
position:relative;
top:1px;
}
h4{
color:#005588;
font-size:14px;
margin:0 0 0;
padding:0 0 2px;
text-decoration:underline;
}
.clear-left{ clear: left;}
.clear-right{ clear: right;}
.clear-both{ clear: both;}
a.button{ 
-moz-border-radius:4px;
-moz-box-shadow:0 2px 3px rgba(66, 140, 240, 0.9);
background-color:rgba(255, 255, 255, 0.95);
border:1px solid #99BBFF;
display:inline-block;
font-variant:small-caps;
font-weight:bold;
font-size:14px;
margin:2px 0 6px 2px;
padding:2px 8px 2px 10px;
color:#005599;
cursor:pointer;
}
a.little-button{
cursor:pointer;
}
.button:hover {
color:#0092C3;
} 
.button:active {
background-color:#0092C3;
color:#DAF1FF;
text-shadow:0 0px 1px #ffffff;
-moz-box-shadow:0 2px 2px rgba(33, 100, 190, 0.9);
}
.msg{
width: 450px;
border: 2px solid;
margin: 5px;
font-weight:bold;
padding: 2px;
}
.good-msg{
border-color:lime;
color:green;
background: #F9FFF9;
}
.bad-msg{
border-color:#BF0000;
color:#BF0000;
background: #fff9f9;
}
.float-right{
float:right;
}
.float-left{
float:left;
margin-right:20px;
}
.clear-left{
clear:left;
overflow:hidden;
}
#content-controls{
display:none;
position:absolute;
right:18%;
top: 30px;
}
#logo{
height:63px;
position:absolute;
right:11px;
top:2px;
}
#side{
float:left;
margin-left:2%;
margin-right:0;
margin-top:4px;
width:16%;
}
#side ul{
list-style-type: none;
margin: 10px 0;
padding: 0;
}
#side .button{
display:block;
}
#application{
float:left;
margin-left:2%;
width: 76%;
}
#footer{
margin-top:10px;
height:20px;
clear: both;
}
.standard-view-container{
}
#scroll-wheel-corrector{
height:135%;
position:absolute;
top:0;
width:1px;
}
.empty-table-message{
clear:left;
margin: 5px 0;
}
.basic-table-container{
margin-bottom: 10px;
}
.basic-table{
border-collapse:collapse;
border: 1px solid #999999;
width: 100%;
}
.basic-table th{
font-size:12px;
font-weight:bold;
}
.basic-table td{
padding: 4px;
max-width:250px;
}
.basic-table a{
color:#004488;
}
.basic-list{
margin: 0;
padding: 0 10px;
}
.basic-list-item{
clear: left;
}
.detail-list{
-moz-box-shadow: 0px 0px 4px rgba(66, 140, 240, 1);
background: #daf1ff;
-moz-border-radius-topleft:6px;
-moz-border-radius-topright:6px;
-moz-border-radius-bottomleft:6px;
-moz-border-radius-bottomright:6px;
border:0px solid #666666;
margin:5px 0;
padding:5px;
//width:420px;
}
.detail-project-hours span {
display: inline-block;
width: 175px;
font-size: 11px;
padding: 0 15px 0 0 ;
}
.basic-cell{
display:inline-block;
margin-bottom:2px;
vertical-align:top;
}
.basic-list-label{
color:#333333;
display:block;
float:left;
font-size:14px;
font-weight:bold;
width:156px;
}
.basic-list-item form{
margin: 0;
}
.basic-form-contents .submit_btn{
margin-left: 20px;
}
div.inline{
width:100%;
}
.inline .basic-list{
-moz-border-radius-topright:0px;
-moz-border-radius-bottomleft:6px;
-moz-border-radius-bottomright:6px;
border:0px solid #666666;
margin:0;
padding:10px;
width: auto;
}
.inline div.basic-list-item{
background:#DDEEFF none repeat scroll 0 0;
border:1px solid #99BBFF;
float:left;
margin:2px;
height:23px;
min-width:280px;
padding:4px;
width:22%;
}
.inline input{
width: 50%;
float: right;
}
.inline select{
width: 52%;
float: right;
}
.inline .basic-list-label{
font-size: 10px;
}
.inline .label-cell{
display: block;
width: 45%;
float: left;
}
.inline .data-cell{
}
/* COMPANY INFO */
.address{
float:left;
margin-right:16px;
margin-left: 6px;
width:270px;
}
.notes-box{
float:left;
margin-top:4px;
}
.notes-label{
float:left;
margin-right:16px;
font-weight:bold;
}
.notes-content{
background-color:#FFFFFF;
float:left;
padding: 2px 5px 6px;
width:396px;
-moz-border-radius-topleft:6px;
-moz-border-radius-topright:6px;
-moz-border-radius-bottomleft:6px;
-moz-border-radius-bottomright:6px;
}
.company-info-header{
float:left;
}
/* FORMS */
h3.basic-form-header{
background: none;
font-size: 10px;
margin: 10px 0 0 5px;
}
.basic-form-contents{
margin-left: 20px;
}
.submit-container{
margin-bottom:20px;
margin-left:30px;
margin-top: 10px;
}
select{
width:172px;
}
/* BUTTONS */
.standard-btn{
border: 1px solid #999999;
-moz-border-radius:11px;
display:inline-block;
background: #ffffff;
padding:2px 6px;
}
.deter-btn{
font-size: 9px;
color:#990000;
}
/* MESSAGES */
h3.basic-message{
margin-top:10px;
display:block;
}
/* QUICKSEARCH */
.qs_input{
font-size:8px;
margin-bottom:4px;
}
#estimate-print td {
border-bottom: 1px #dddddd solid;
}
.quicksearch{ 
    display: inline-block;
    margin-bottom: 5px;
}
.basic-table-search{ 
    display: inline-block;
}
.search-input { 
    display: inline;
    margin-left: 10px; 
}
.search-input label { 
    margin-right: 4px; 
}
/* JS-SWAPPABLE */
.js-swappable{
}
.js-swappable-btn{ 
display:block;
float:right;
font-size:12px;
}
/* JS-HIDEABLE */
.js-hideable{
float:left;
margin-top:5px;
}
.hideable-item{
margin-top:5px;
}
.hideable-block{
}
/* JS-MULTIPLE-BUTTONS */
.js-multiple-buttons {
clear:left;
width:60em;
}
/* LOGIN FORM */
#login-container{
width:400px;
margin:20px auto;
background: #ffffff;
}
#login-container h2{
margin:0;
padding:4px;
color: #000000;
}
#login-form{
padding:20px 122px 0 0;
text-align:right;
}
/*LOGIN WIDGET */
#login-widget{
float:left;
font-size:12px;
font-weight:bold;
margin:4px 21px 0;
}
#login-widget a{
color: #fff6e4;
}
/* PROJECT INFO */
.launch-date{
margin-right: 10px;
}
.status{
color:red;
font-variant:small-caps;
font-weight:bold;
text-transform:capitalize;
display:inline;
margin-right:10px;
margin-left:2px;
}
.notes-field{
width:400px;
height:200px;
}
.project-manager{
font-weight: bold;
}
/* HOUR FORMS*/
#hour-edit-container{
float: left;
}
input.description-field{
	width: 300px;
}
/* SUPPORT CONRACT */
#correct-mistake-contract-btn{
margin-left:10px;
}
#update-contract-btn{
float:right;
margin-bottom:5px;
}
#cancel-contract-btn{
float:right;
clear:right;
}
/* TOTALS */
.totals-data{
clear:left;
}
/* CONTACTS */
.company-contacts{
float:left;
margin-left: 6px;
margin-top: 6px;
}
.company-contacts .contact-detail{
float:left;
margin-right:12px;
margin-bottom:8px;
}
/* INVOICE */
#invoice {
display: block;
width: 880px;
margin-right: auto;
margin-left: auto;
}
#invoice #header {
height: 85px;
}
#invoice #header h1 {
color: #FFFFFF;
font-size: 30px;
text-align: right;
padding: 20px 60px 0 0;
}
#invoice #header img {
float: left;
}

#invoice h2{
font-size: 20px;
}

#invoice-footer{
font-size: 12px;
margin-bottom: 10px;
}

#invoice #footer-address{
margin-bottom: 20px;
}

#banner {
margin: 15px 0 0 0;
}
#banner .basic-list-item {
text-align: right;
}
