body{
font-family: Verdana;
}
a{
text-decoration: none;
color:#006699;
}
form{
margin: 0;
}
h1 {
margin:0 0 6px;
padding:9px 0 3px 6px;
}
h2{
color:#333333;
margin:0;
}
h3{
border:0px solid #999999;
border-bottom: none;
background: #f0f6FF;
color:#000;
display:inline;
font-size:16px;
margin:0;
padding:0 6px;
position:relative;
top:1px;
}
select{
width:172px;
}
.submit_btn{
float: right;
}
.msg{
width: 450px;
border: 2px solid;
margin: 5px;
font-weight:bold;
padding: 2px;
}
.good-msg{
border-color:lime;
color:green;
background: #F9FFF9;
}
.bad-msg{
border-color:#BF0000;
color:#BF0000;
background: #fff9f9;
}
.float-left{
float:left;
margin-right:20px;
}
.clear-left{
clear:left;
overflow:hidden;
}
#content-controls{
position:absolute;
right:23%;
}
#logo{
height:63px;
position:absolute;
right:11px;
top:2px;
}
#side{
float: right;
width: 17%;
clear: right;
margin-left: 15px;
}
#side ul{
list-style-type: none;
margin: 10px 0;
padding: 0;
}
#side li{
margin:4px;
padding:4px;
background:#DDEEFF none repeat scroll 0 0;
border:1px solid #99BBFF;
}
#application{
margin-left:10px;
width: 80%;
}

#footer{
margin-top:10px;
height:20px;
clear: both;
}
.basic-table{
border-collapse:collapse;
border-bottom: 1px solid #999999;
width: 100%;
}
.basic-table th{
font-size:12px;
font-weight:bold;
}
.basic-table td{
border-left: 1px solid #999999;
border-right: 1px solid #999999;
padding: 4px;
}
.basic-table a{
color:#004488;
}
.basic-list{
-moz-border-radius-topright:0px;
-moz-border-radius-bottomleft:6px;
-moz-border-radius-bottomright:6px;
border:0px solid #666666;
margin:5px 0;
padding:10px;
}
.basic-list-item{
}
.basic-cell{
display: inline;
}
.basic-list-label{
color: #333333;
font-weight: bold;
margin-right: 10px;
}
.basic-list-item form{
margin: 0;
}
div.inline{
width:100%;
}
.inline .basic-list{
-moz-border-radius-topright:0px;
-moz-border-radius-bottomleft:6px;
-moz-border-radius-bottomright:6px;
border:0px solid #666666;
margin:0;
padding:10px;
width: auto;
}
.inline div.basic-list-item{
background:#DDEEFF none repeat scroll 0 0;
border:1px solid #99BBFF;
float:left;
margin:2px;
height:43px;
min-width:220px;
padding:4px;
width:22%;
}
.inline input{
width: 90%;
float: right;
}
.inline select{
width: 90%;
float: right;
}
.inline .basic-list-label{
font-size: 10px;
}
.inline .label-cell{
}
.inline .data-cell{
}
/* QUICKSEARCH */
#quicksearch{
display: inline;
font-size:14px;
}
.qs_input{
font-size:8px;
margin-bottom:4px;
}
#quicksilver{display:inline-block;}