body{
font-family: Verdana;
margin:0 60px;
}
a{
text-decoration: none;
color:#006699;
}
form{
margin: 0;
}
h1 {
bottom:5px;
margin:0;
padding:0;
position:relative;
}
h2{
color:#eee;
margin:0;
display: block;
background: #000;
padding: 0 5px
}
h3{
border:0px solid #999999;
border-bottom: none;
color:#000;
display:inline;
font-size:16px;
margin:0;
padding:0 5px 0 0;
position:relative;
top:1px;
}
.clear-left{ clear: left;}
.clear-right{ clear: right;}
.clear-both{ clear: both;}
.msg{
width: 450px;
border: 2px solid;
margin: 5px;
font-weight:bold;
padding: 2px;
}
.good-msg{
border-color:lime;
color:green;
background: #F9FFF9;
}
.bad-msg{
border-color:#BF0000;
color:#BF0000;
background: #fff9f9;
}
.float-right{
float:right;
}
.float-left{
float:left;
margin-right:20px;
}
.clear-left{
clear:left;
overflow:hidden;
}
#content-controls{
display:none;
position:absolute;
right:18%;
top: 30px;
}
#logo{
height:63px;
position:absolute;
right:11px;
top:2px;
}
#side{
clear:right;
float:right;
margin-left:15px;
margin-top:30px;
width:12%;
}
#side ul{
list-style-type: none;
margin: 10px 0;
padding: 0;
}
#side li{
margin:4px;
padding:4px;
background:#DDEEFF none repeat scroll 0 0;
border:1px solid #99BBFF;
}
#application{
width: 100%;
}
#footer{
margin-top:10px;
height:20px;
clear: both;
}
#scroll-wheel-corrector{
height:105%;
position:absolute;
top:0;
width:1px;
}
.basic-table-container{
margin-bottom: 10px;
}
.basic-table{
border-collapse:collapse;
border-bottom: 1px solid #999999;
width: 100%;
}
.basic-table th{
font-size:12px;
font-weight:bold;
}
.basic-table td{
border-left: 1px solid #999999;
border-right: 1px solid #999999;
padding: 4px;
}
.basic-table a{
color:#004488;
}
.basic-list{
margin: 0;
padding: 0 10px;
}
.basic-list-item{
}
.detail-list{
background: #DDEEEE;
-moz-border-radius-topleft:6px;
-moz-border-radius-topright:6px;
-moz-border-radius-bottomleft:6px;
-moz-border-radius-bottomright:6px;
border:0px solid #666666;
margin:5px 0;
padding:5px;
width:420px;
}
.detail-project-hours span {
display: inline-block;
width: 175px;
font-size: 11px;
padding: 0 15px 0 0 ;
}
.basic-cell{
display: inline;
}
.basic-list-label{
color:#333333;
display:block;
float:left;
font-weight:bold;
width:200px;
}
.basic-list-item form{
margin: 0;
}
.basic-form-contents .submit_btn{
margin-left: 20px;
}
div.inline{
width:100%;
}
.inline .basic-list{
-moz-border-radius-topright:0px;
-moz-border-radius-bottomleft:6px;
-moz-border-radius-bottomright:6px;
border:0px solid #666666;
margin:0;
padding:10px;
width: auto;
}
.inline div.basic-list-item{
background:#DDEEFF none repeat scroll 0 0;
border:1px solid #99BBFF;
float:left;
margin:2px;
height:23px;
min-width:280px;
padding:4px;
width:22%;
}
.inline input{
width: 50%;
float: right;
}
.inline select{
width: 52%;
float: right;
}
.inline .basic-list-label{
font-size: 10px;
}
.inline .label-cell{
display: block;
width: 45%;
float: left;
}
.inline .data-cell{
}
/* FORMS */
h3.basic-form-header{
background: none;
font-size: 10px;
margin: 10px 0 0 5px;
}
.basic-form-contents{
margin-left: 20px;
}
.submit-container{
margin-bottom:20px;
margin-left:30px;
margin-top: 10px;
}
select{
width:172px;
}
/* QUICKSEARCH */
.qs_input{
font-size:8px;
margin-bottom:4px;
}
#estimate-print td {
border-bottom: 1px #dddddd solid;
}
.quicksearch{ display: inline-block;}
/* JS-SWAPPABLE */
.js-swappable{
float: left;
}
.js-swappable-btn{ 
display:block;
float:right;
font-size:12px;
}
/* JS-HIDEABLE */
.js-hideable{
float:left;
margin-top:5px;
}
.js-hideable-btn{ 
margin:0 5px 0 8px;
}
.hideable-item{
margin-top:5px;
}
/* LOGIN FORM */
#login-container{
width:400px;
margin:20px auto;
}
#login-container h2{
background:#DDEEFF none repeat scroll 0 0;
border:1px solid #99BBFF;
margin:0;
padding:4px;
color: #000000;
}
#login-form{
border:1px solid black;
padding:20px;
}
/*LOGIN WIDGET */
#login-widget{
float: right;
}
/* PROJECT INFO */
.launch-date{
margin-right: 10px;
}
.status{
color: red;
font-weight: bold;
}
.project-manager{
font-weight: bold;
}