.print{
width: 800px;
}
.quicksearch {
display:none;
}
h1.page_name{
margin: 80px 0 0 0;
}
#invoice-summary {
margin: 50px 0 50px 0;
}
.basic-table-container{
    width: 700px;
}
.print .basic-table {
    margin: 10px 0 0 30px;
}
.totals-data{
text-align:right;
}
.totals-hours h3{
font-weight: normal;
font-style:italic;
font-size: 12px;
}
.totals-hours {
text-align: left;
}
table.tablesorter thead tr {
background: #aaaaaa;
background-image:none;
}
