/* tables */
table.tablesorter {
	background-color: #CDCDCD;
	text-align: left;
	width:99.6%;
	font-size:13px;
	margin:0 0 0 1px;
}
table.tablesorter thead tr th, table.tablesorter tfoot tr th {
	border:1px solid #667788;
	padding: 2px 20px 2px 8px;
}
table.tablesorter thead tr{
	background:#ddeeff;
/*	background:#fff url('chrome_2.jpg') repeat-x center	; */
}
table.tablesorter thead tr .header {
	background-image: url('bg.gif');
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
}

table.tablesorter tbody{
margin-bottom: 10px;
}

table.tablesorter tbody td {
	color: #3D3D3D;
	padding: 4px 4px 4px 8px;
	background-color: #FFF;
	vertical-align: top;
}
table.tablesorter tbody tr.odd td {
	background-color:#F0F3FF;
}
table.tablesorter thead tr .headerSortUp {
	background-image: url(asc.gif);
}
table.tablesorter thead tr .headerSortDown {
	background-image: url(desc.gif);
}
table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {
background-color: #8dbdd8;
}
