<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
  <title>Ape Planet &raquo; [[title]]</title>
  <link rel="Stylesheet" href="client/css/bootstrap.css" type="text/css" />
  <link rel="Stylesheet" href="client/css/bootstrap-responsive.css" type="text/css" />
  <link rel="Stylesheet" href="client/css/docs.css" type="text/css" />
  <link rel="Stylesheet" href="client/css/jquery-ui.css" type="text/css" />
  <link rel="stylesheet" href="client/css/tablesorter-themes/bootstrap/jq.css">
  <link rel="stylesheet" href="client/css/tablesorter-themes/bootstrap/prettify.css">
  <link rel="stylesheet" href="client/css/tablesorter-themes/bootstrap/theme.bootstrap.css">
  <link rel="Stylesheet" href="client/css/main_styles.css" type="text/css" />
  <!-- Load Libraries -->
  <script type="text/javascript" src="client/js/lib/jquery-1.9.1.js"></script>
  <script type="text/javascript" src="client/js/lib/jquery-ui-1.10.1.custom.min.js"></script>
  <script type="text/javascript" src="client/js/lib/bootstrap.js"></script>
  <script type="text/javascript" src="client/js/lib/highcharts.js"></script>
  <script type="text/javascript" src="client/js/lib/jquery-easing.js"></script>
  <script type="text/javascript" src="client/js/lib/tablesorter/jquery.tablesorter.min.js"></script>
  <script type="text/javascript" src="client/js/lib/tablesorter/addons/pager/jquery.tablesorter.pager.js"></script>
  <script type="text/javascript" src="client/js/lib/jquery.validate.min.js"></script>
  <script type="text/javascript" src="client/js/lib/quicksearch.js"></script>
  <script type="text/javascript" src="client/js/lib/quicksilver.js"></script>
  <script type="text/javascript" src="client/js/date.js"></script>
  <!-- Load and Run GTD -->
  <script type="text/javascript" src="client/js/utilities.js"></script>
  <script type="text/javascript" src="client/js/lib/rd_graph.js"></script>
  <script src="client/js/lib/tablesorter/jquery.tablesorter.js"></script>
  <script src="client/js/lib/tablesorter/jquery.tablesorter.widgets.js"></script>
  <script type="text/javascript" src="client/js/initializePage.js" id="js"></script>
  <link rel="shortcut icon" href="/favicon.ico">

	<script>
	$(function(){

		$('button.zebra').click(function(){
			var t = $(this).hasClass('btn-success');
			$('table')
				.toggleClass('table-striped')[0]
				.config.widgets = (t) ? ["uitheme"] : ["uitheme", "zebra"];
			$(this)
				.toggleClass('btn-danger btn-success')
				.find('i')
				.toggleClass('icon-ok icon-remove').end()
				.find('span')
				.text(t ? 'disabled' : 'enabled');
			$('table').trigger('refreshWidgets', [false]);
		});
	});
	</script>

</head>
<body>

  <div id="screen-cover"></div>
  <div id="scroll-wheel-corrector"></div>
    
  <div id="app-container">
    <div id="header">
      <img src="/client/img/radicaldesigns_banner_02.gif" style="height:30px"/>

      <span class="santa-quote">//  
        <script type="text/javascript" src="https://radicaldesigns.rdsecure.org/badge_widget.php?id=41&cache=0"></script>
      </span>
    </div>

     <div id="title-bar" class="[[test-warning]]">
      [[login]]
      <h1 id='title'>[[title]] </h1>
      [[bookmark]]
      [[hour_widget]]
      <div class="clear-left"></div>
    </div>

    <div id ="side">
      [[client_quicksearch]]
      <br/>
    <div class="btn-group">
          <button class="btn dropdown-toggle" data-toggle="dropdown" href="#">
            Find
            <span class="caret"></span>
          </button>    
          <ul class="dropdown-menu">
            <li><a class="menu-item" href="index.php?controller=Hour">Hours</a></li>
            <li><a class="menu-item" href="index.php?controller=Company">Clients</a></li>
            <li><a class="menu-item" href="index.php?controller=Project">Projects</a></li>
            <li><a class="menu-item" href="index.php?controller=SupportContract">Support Contracts</a></li>
            <li><a class="menu-item" href="index.php?controller=Staff">Staff</a></li>
            <li><a class="menu-item" href="index.php?controller=ClientUser">Client Users</a></li>
          </ul>
  </div>
  <div class="btn-group">
          <button class="btn dropdown-toggle" data-toggle="dropdown" href="#">
            Create
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu">
              <li><a class="menu-item" href="index.php?controller=Note&amp;action=new_form">New Note</a></li>
              <li><a class="menu-item" href="index.php?controller=Company&amp;action=new_form">New Client</a></li>
              <li><a class="menu-item" href="index.php?controller=Project&amp;action=new_form">New Project</a></li>
              <li><a class="menu-item" href="index.php?controller=SupportContract&amp;action=new_form">New Support Contract</a></li>
              <li><a class="menu-item" href="index.php?controller=Hour">Log Hours</a></li>
            </ul>   
  </div>
   <div class="btn-group">
          <button class="btn dropdown-toggle" data-toggle="dropdown" href="#">
            Billing
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu">
                  <li><a class="menu-item" href="index.php?controller=Payment">Payments</a></li>
                  <li><a class="menu-item" href="index.php?controller=Charge">Charges</a></li>
                  <li><a class="menu-item" href="index.php?controller=Invoice">Invoices</a></li>
                  <li><a class="menu-item" href="index.php?controller=Company&amp;action=kneecaps">Kneecaps</a></li>
          </ul>
  </div> 
  
  <br/>
      [[bookmark_list]]
    </div>  

    <div id ="msg-container" align="center">
      [[msg]]
    </div>             

        <div id="application">
      <div id="log"></div>
      <div id="content-controls">[[controls]]</div> 

      <div class="standard-view-container">
        [[body]]
      </div>
        </div>

        <div id="footer"></div>
  </div>
<br><br>

</body>
</html>

