<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
	<head>
		<title>Ape Planet &raquo; Login</title>
                <link rel="Stylesheet" href="client/css/main_styles.css" type="text/css" />
                <link rel="Stylesheet" href="client/css/bootstrap.css" type="text/css" />
                <link rel="Stylesheet" href="client/css/bootstrap-responsive.css" type="text/css" />
                <link rel="Stylesheet" href="client/css/docs.css" type="text/css" />
		<link rel="Stylesheet" href="client/css/jquery-ui.css" type="text/css" />
		<link rel="Stylesheet" href="client/css/tablesorter-themes/blue/style.css" type="text/css" />
		<!-- Load Libraries -->
		<script type="text/javascript" src="client/js/lib/jquery-1.4.2.min.js"></script>
		<script type="text/javascript" src="client/js/lib/jquery-ui-1.8.custom.min.js"></script>
		<script type="text/javascript" src="client/js/lib/jquery-easing.js"></script>
		<script type="text/javascript" src="client/js/lib/tablesorter/jquery.tablesorter.min.js"></script>
		<script type="text/javascript" src="client/js/lib/quicksearch.js"></script>
		<script type="text/javascript" src="client/js/lib/quicksilver.js"></script>
		<!-- Load and Run GTD -->
		<script type="text/javascript" src="client/js/utilities.js"></script>
                <script type="text/javascript" src="client/js/initializePage.js"></script>
                <link rel="shortcut icon" href="/favicon.ico">
	</head>

        <body>
          <div style="width:40%; padding: 50px 0px; margin: 0px auto;">
	    <h1>Radical Designs Billing Login</h1>
	    <div id="msg-container" align="center"> [[msg]] </div>
	      [[body]]
  	    </div>
          </div>
	</body>
</html>

