<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
    <head>
    <title>Your Radical Designs Invoice</title>
    <link rel="Stylesheet" href="client/css/main_styles.css" type="text/css" />
    <link rel="Stylesheet" href="client/css/jquery-ui.css" type="text/css" />
    <link rel="Stylesheet" href="client/css/tablesorter-themes/blue/style.css" type="text/css" />
    <link rel="Stylesheet" href="client/css/printable.css" type="text/css" />
 	<script type="text/javascript" src="client/js/jquery.min.js"></script>
 	<script type="text/javascript" src="client/js/jquery-ui.min.js"></script>
 	<script type="text/javascript" src="client/js/jquery-easing.js"></script>
	<script type="text/javascript" src="client/js/tablesorter/jquery.tablesorter.min.js"></script>

 	<script type="text/javascript" src="client/js/quicksearch.js"></script>
 	<script type="text/javascript" src="client/js/quicksilver.js"></script>
    </head>
    <body>
        <div id="invoice" class="print">
			<div id="header">
				<img src="/client/img/radicaldesigns_banner_02.gif"/>
				<h1>Invoice</h1>
				<div class="clear"></div>
		</div>

                [[body]]
        </div>  
   </body>
</html>
