<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
    <head>
    <title>[[title]]</title>
    <link rel="Stylesheet" href="client/css/main_styles.css" type="text/css" />
    <link rel="Stylesheet" href="client/css/jquery-ui.css" type="text/css" />
    <link rel="Stylesheet" href="client/css/tablesorter-themes/blue/style.css" type="text/css" />
    <link rel="Stylesheet" href="client/css/printable.css" type="text/css" />
 	<script type="text/javascript" src="client/js/jquery.min.js"></script>
 	<script type="text/javascript" src="client/js/jquery-ui.min.js"></script>
 	<script type="text/javascript" src="client/js/jquery-easing.js"></script>
	<script type="text/javascript" src="client/js/tablesorter/jquery.tablesorter.min.js"></script>

 	<script type="text/javascript" src="client/js/quicksearch.js"></script>
 	<script type="text/javascript" src="client/js/quicksilver.js"></script>
    </head>
    <body>
        <div id="invoice" class="print">
			<div id="header">
				<img src="/client/img/radicaldesigns_banner_02.gif"/>
				<h1>Invoice</h1>
				<div class="clear"></div>
			</div>
                [[body]]
		<div id="invoice-footer">
			<div id="footer-address">
				<strong>Send checks to: </strong>Radical Designs<br />
				1370 Mission St, 4th Floor<br />
				San Francisco, CA 94103<br />
			</div>
			<b>Payment Methods</b>&nbsp;&nbsp;Radical Designs accepts checks, or
			credit/debit cards and bank account transfers via <a href="http://www.paypal.com/">PayPal</a> for payments under $1000.  Click above to pay your current balance online, or mail a check to the address above.  Make your check
			payable to "Radical Designs". <br />
			For questions about your contract or bill please email <a href="mailto:billing@radicaldesigns.org">billing@radicaldesigns.org</a><br>
			For questions about support please email <a href="mailto:help@radicaldesigns.org">help@radicaldesigns.org</a><br>
			Or you can call us at 415-738-0456 
		</div>
		<div id="history">
			[[history]]
		</div>
	</div>
   </body>
</html>
